body{
    margin: 0 0 0 0;
    font-family:Arial, Helvetica, sans-serif;
}

#divLogo{
    width: 100%; 
    height: 130px; 
    background-color: #0086b3;
}

#logo{
    font-weight: bold;
    text-align: center;
    font-family:Tahoma, Geneva, sans-serif;
    padding-top: 50px;
    color: white;
}

#divBar{
    background: #333;
    width: 100%;
    height: 50px;
}

#txtPesquisar{
    float: left;
    width: 90%;
    margin-left: 10px;
    height: 30px;
    margin-top: 7px;
    text-align: center;
    font-size: 16px;
}

#btnErroLogin{
    padding: 10px;
    text-decoration: none;
    background-color: #0086b3;
    color: white;
}

#btnErroLogin:hover{
    background-color: #808080;
    color: white;
}

.menu {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0086b3;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

.menu a:hover{
    background-color: #808080;
    color: white;
}

.conteudo{
    margin-left: 160px;
    padding: 0px 10px;
}

.btnAdmin {
    padding: 10px;
    text-decoration: none;
    background-color: #0086b3;
    color: white;
    border: none !important;
}

.btnAdmin:hover {
    background-color: #808080;
    color: white;    
}

